<div class=" container container-show-cocktail">
  <h1>
    <em>
      The
      <span style="color: #F2B824"><%= @cocktail.name.upcase %></span>
      Recipe
      <span id="title-typed-text"></span>
      <%= link_to edit_cocktail_path(@cocktail) do %>
        <i class="fas fa-pen"></i>
      <% end %>
    </em>

  </h1>

  <div>
    <h3>Ingredients : </h3>
    <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <span><%= dose.ingredient.name %> :</span>
        <span><%= dose.quantity %>  </span>
      </li>
    <% end %>
    </ul>
  </div>
  <div>
    <h3>Préparation : </h3>
    <p><%= @cocktail.description %> </p>
  </div>
</div>
