<div class=" container container-show-cocktail">
  <h1>
    <span id="the-typed-text"></span>
    <span id="title-typed-text" style="color: #F2B824" data-message="<%= @cocktail.name.upcase %>">

      <!-- <span style="color: #F2B824">The<%#= @cocktail.name.upcase %> Recipe</span> -->

      <!-- <span id="title-typed-text"></span> -->

    </span>
    <span id="recipe-typed-text"></span>
    <%= link_to edit_cocktail_path(@cocktail) do %>
      <i class="fas fa-pen"></i>
    <% end %>

  </h1>

  <div>
    <h3>Ingredients : </h3>
    <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <span><%= dose.ingredient.name %> :</span>
        <span><%= dose.quantity %>  </span>
      </li>
    <% end %>
    </ul>
  </div>
  <div>
    <h3>Préparation : </h3>
    <p><%= @cocktail.description %> </p>
  </div>
</div>
